<main id="car-collection">
    <section class="inner-container car-collection">
        <h1>{{ title }}</h1>

        <div class="car-collection__grid">
            {% for car in cars %}
            <div onclick="window.location.href = '{{ car.link }}';" class="card" data-id="{{ car.ID }}">
                <div class="card__img-container">
                    <img src="{{ car.cover_image }}" alt="{{ car.name }} Cover Image">
                </div>
                <div class="card__info">
                    <h3>{{ car.name }}</h3>
                    <p>Rent for {{ car.rental_price }}€/day</p>
                    <!-- Links are set only for web vitals -->
                    <a href="#nothing" onclick="update_car_likes(event, {{ car.ID }});return false;"
                        class="like-btn-card" id="car-{{ car.ID }}">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </div>
            </div>

            {% else %}

            <h3>No cars found for your query...</h3>

            {% endfor %}
        </div>
    </section>
</main>

<script>
    // Initialize likes
    const likeButtons = document.getElementsByClassName('like-btn-card');
    for (let i = 0; i < likeButtons.length; i++) {
        if (localStorage.getItem(likeButtons[i].id) != null) {
            likeButtons[i].innerHTML = '<i class="fa-solid fa-heart"></i>';
        }
    }

    function update_car_likes(event, id) {
        event.stopPropagation();
        event.preventDefault();

        if (document.getElementById(`car-${id}`).innerHTML != '<i class="fa-solid fa-spinner rotate"></i>') {
            document.getElementById(`car-${id}`).innerHTML = '<i class="fa-solid fa-spinner rotate"></i>';

            if (localStorage.getItem(`car-${id}`) != null) {
                jQuery.ajax("/luxury-car-rental//wp-admin/admin-ajax.php", {
                    type: "POST",
                    data: {
                        action: 'update_like',
                        id: id,
                        like: false,
                    },
                    success: function (result, status, xhrRequest) {
                        if (JSON.parse(result)) {
                            document.getElementById(`car-${id}`).innerHTML = '<i class="fa-regular fa-heart"></i>';
                            localStorage.removeItem(`car-${id}`);
                        }
                    },
                    error: function (xhrRequest, status, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            } else {
                jQuery.ajax("/luxury-car-rental//wp-admin/admin-ajax.php", {
                    type: "POST",
                    data: {
                        action: 'update_like',
                        id: id,
                        like: true,
                    },
                    success: function (result, status, xhrRequest) {
                        if (JSON.parse(result)) {
                            document.getElementById(`car-${id}`).innerHTML = '<i class="fa-solid fa-heart"></i>';
                            localStorage.setItem(`car-${id}`, true);
                        }
                    },
                    error: function (xhrRequest, status, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            }
        }

        return false;
    }
</script>